#obbo{
    background-color: #f2f2f2 !important;
}
#buron{
    background-color: white;
    border-color: black;
    color: black;
}
#sp1{
    font-size: 20px;
    color: black;
}
::placeholder {
    color: black;
  }
#divu{
    text-align: center;
    font-size: 15px;
}
#scftr{
    background-color: #686767ce;
}
.texto-amarillo{
    color:rgb(250, 188, 75);
}

.edit{
    width: 360px;
    height: 662px;
}

.editt{
    display: inline-block;
    width: 220px;
    height: 100px;
}

.odit{
    width: 390px;
    height: 490px;
}
.oditt{
    display: inline-block;
    width: 220px;
    height: 100px;
}
.disable{
    pointer-events: none;
}