#obbo{
    background-color: #f2f2f2 !important;
}
#buron{
    background-color: white;
    border-color: black;
    color: black;
}
#sp1{
    font-size: 20px;
    color: black;
}
::placeholder {
    color: black;
  }
#divu{
    text-align: center;
    font-size: 15px;
}
#scftr{
    background-color: #686767ce;
}
.texto-amarillo{
    color:rgb(250, 188, 75);
}